.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.banner-bg-container {
  height: 180px;
  width: 100%;
  margin-bottom: 20px;
  list-style-type: none;
  border: 1px solid #cbced2;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}

.header-text {
  color: #326a9d;
}

.description-text {
  color: #64748b;
}

.button {
  height: 33px;
  border-radius: 3px;
  border-color: #326a9d;
  color: #326a9d;
  font-weight: 600;
}

@media (max-width: 576px) {
  .header-text {
    font-size: 20px;
    color: #326a9d;
  }

  .description-text {
    font-size: 12px;
    color: #64748b;
  }
}
